<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Cosude</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/questionnaire">Questionnaire</a></li>
                <li><a href="/whyProject">Why?</a></li>
                <li><a href="/resources">Resources</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>