<a name="story-container"></a>
<div class="story-container">
    <div class="jumbotron">
        <h1>WHY COSUDE?</h1>
        <p>
            Over a thousand factory workers died after being made to go back into a structurally unsafe building
            to fulfil a stretched order of fast fashion clothing. Someone could have lost a mother, a daughter, a
            father, or a son, because of a £5 shirt with ‘swag’ written across the chest.
        </p>
        <p>
            Hundreds of thousands of factory workers in third world countries are paid less than USD$3 a day for hours
            of sewing the same stitch, on the same shirt, for over 10 hours a day, 7 days a week, for an entire year.
        </p>
        <p>
            Workers demanding for a decent living wage - to have enough to eat- have been locked inside rooms and
            beaten over the fear of disturbing this low cost supply chain.
        </p>
        <p>
            Yet in the two minutes you took to read these three paragraphs, fast fashion companies have sold
            approximately £147,000 worth of clothing, and a garment factory worker (usually female) would have only made
            £0.03. It is estimated that the industry as a whole generates between £500 billion and £2 trillion annually -
            all of it at the gross expense of the people making these clothes.
        </p>
        <p>
            The sad truth is that companies have less than little incentive to change - they only
            respond to competition and their consumers. Cosude wants to empower the only voices these companies will
            hear, to use technology to empower consumers and conscious makers to be heard, and to demand for
            a conscious supply chain. </p>
        <p>
            You're right. This is a tough issue, but it is one we are particularly determined to solve.
        </p>
        <button class="btn-lg action-button"><a href="/questionnaire">Help us figure out the right solution</a></button>
    </div>
</div>