<div class="reasons-container">
    <div class="col-sm-5">
        <div class="col-xs-12 main-reason">
            <div class="jumbotron">
                <div class="container">
                    <h1>We often don't think about the people who make our clothes</h1>

                    <p>
                        When we see a cheap clothing shirt, our first response is usually, 'this is so cheap, I need to
                        buy it!'.
                        But if it is so cheap, how little do the people making it actually earn?
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-7">
        <div class="col-xs-6 sub-reason-one">
            <div class="container sub-container">
                <h1>Our beautiful clothes are made in ugly ways</h1>

                <p>
                    6/7 days a week, 10 hours a day, earning less than $3USD a day, many have to sell their
                    furniture in order to see the doctor.
                    Fast fashion brands justify it saying this teaches skills. But for factory productivity, workers sew
                    the same seam on the same shirt over and over again.
                    It is hard to learn anything if you're sewing the exact same seam a thousand times.
                </p>
            </div>
        </div>


        <div class="col-xs-6 sub-reason-two">
            <div class="container sub-container ">
                <h1>Thousands have died over a £5 shirt</h1>

                <p>
                    What happens if you need more clothes for cheaper? You build more factories and squeeze the margins
                    from them.
                    Structurally unsafe buildings were made to fulfill these orders quickly. As a result, hundreds upon
                    thousands have died in building fires and collapses.
                </p>
            </div>
        </div>


        <div class="col-xs-6 sub-reason-three">
            <div class="container sub-container ">
                <h1>The good news: You have the power!</h1>

                <p>
                    You can do something, you can help make sure that the people that make our clothes get dignified
                    wages.
                    You can demand for a transparent supply chain.
                    Our clothes can be beautiful inside and out.
                </p>
            </div>
        </div>


        <div class="col-xs-6 sub-reason-four">
            <div class="container sub-container-pink ">
                <a href="/questionnaire">
                    <h1>The tougher the problem, the more creative the solution</h1>

                    <p>
                        Take the questionnaire and help us figure it out.
                    </p>
                </a>
            </div>
        </div>
    </div>
</div>