<div class="container-fluid reasons-container">
    <div class="row">
        <div class="col-sm-5">

            <div class="row">
                <div class="col-xs-12">
                    <div class="jumbotron ">
                        <div class="container">
                            <h1>We often don't think about the people who make our clothes</h1>
                            <p>
                                When we see a £5 shirt, our first response is usually - 'this is so cheap, I need to
                                buy it',
                                Rather than wondering if it is so cheap - how much are the people making it actually
                                earning?
                                (Answer: less than 0.01% of that).
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-7">
            <div class="row">
                <div class="col-xs-6 sub-reason-one">
                    <div class="sub-container">
                        <h2>Our beautiful clothes are made in ugly ways</h2>

                        <p>
                            6 to 7 days a week, 10 hours a day, earning less than $3USD a day, many have to sell their
                            furniture in order to see the doctor.
                            Fast fashion companies justify it by saying this teaches skills - but that is if the workers get to
                            sew an entire article of clothing. For productivity, workers only ever get to sew the same seam over and over again.
                            Its hard to learn anything if you're sewing the exact same seam on thousands of the same clothing.
                        </p>
                    </div>
                </div>


                <div class="col-xs-6 sub-reason-two">
                    <div class="sub-container ">
                        <h2>Thousands have died for a £5 shirt</h2>

                        <p>
                            What happens if you need more clothes for cheaper? You build more factories and squeeze the margins from them.
                            Structurally unsafe buildings were made to fulfill these orders quickly. Workers were made to enter
                            (declared) structurally unsafe buildings to fulfil orders.
                            Hundreds upon thousands have died in building fires and collapses.
                        </p>
                    </div>
                </div>


                <div class="col-xs-6 sub-reason-three">
                    <div class="sub-container ">
                        <h2>The good news: Companies will listen to you!</h2>
                        <p>
                            We can do something, we can help make sure that the people that make our clothes get dignified wages.
                            We can demand for a transparent supply chain
                            Our clothes can be beautiful inside and out.
                        </p>
                    </div>
                </div>


                <div class="col-xs-6 sub-reason-four">
                    <div class="sub-container-pink ">
                        <a href="/questionnaire">
                            <h2>This is a tough issue, so its crucial we figure out what the right problem is.</h2>
                            <p>
                                Take the questionnaire and be the difference.
                            </p>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</div>