.contact-page {
    background: url(../images/contact-mini.jpg) center center no-repeat;
    background-size: cover;
    opacity: 0.9;
    height:100%;
}

.contact-text-container {
    max-height: 40em;
    width: 60%;
    margin: 0 auto;
    color: white;
    padding-top: 8%;
}

.contact-text-container > .jumbotron {
    width: 100%;
}

.contact-text-container > .jumbotron > h1 {
    font-size: 4.6em;
    text-transform: uppercase;
    font-weight: lighter;
    height:20%;
    margin-bottom: 0.5em;
}

.contact-text-container > .jumbotron > p {
    font-weight: lighter;
    height:50%;
}

.contact-text-container > .jumbotron > .contact-email {
    margin-top: 2em;
    height:30%;
}

/*screen width 1400px*/
@media (max-width: 1400px) {
    .contact-page {
        height: 54em;
    }
}

/*screen width 375px*/
@media (max-width: 375px) {
    .contact-text-container {
        width: 100%;
    }
}