html {
    height: 100%;
}

body {
    padding-top: 50px;
    width: 100%;
    height: 100%;
    font-family: "Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
}

h1 {
    font-weight: lighter;
}

p {
    font-weight: lighter;
}

.main {
    text-align: center;
    width: 100%;
    height: 100%;
}

.home-page {
    background: url(../images/background-mini.jpg) center center no-repeat;
    background-size: cover;
}

.circle-separator {
    width: 10em;
    height: 10em;
    margin: -4em auto 0 auto;
    background-color: white;
    border-radius: 10em;
    padding: 2em;
}

.triangle {
    height: 0;
    width: 0;
    border-top: 20px solid hotpink;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    margin: 0 auto;
}

.action-button {
    margin-top: 2.5em;
    font-weight: lighter;
    background-color: hotpink;
    border: none;
}

.action-button:hover {
    background-color: hotpink;
}

.action-button > a{
    color: white;
    letter-spacing: 0.08em;
    text-transform: uppercase;
}

.action-button > a:hover {
    border-bottom: transparent;
    text-decoration: none;
    opacity: 0.7;
}

.jumbotron {
    background-color: transparent;
}

a {
    color: white;
}


a:hover {
    color: white;
    text-decoration: none;
}