<% include ../partials/staticDOMTop.ejs %>
<div class="main contact-page">
    <div class="contact-text-box">
        <span class="contact-text">
           <div class="hi-there">HELLO!</div>
            I'm sure you have a lot of questions, or want to be part of the project.
            Just leave me an email and I will get back to you as soon as possible!
        </span>
        <div class="contact-email">
            <%= email %>
        </div>
    </div>
</div>
<% include ../partials/staticDOMBottom.ejs %>