<% include ../partials/staticDOMTop.ejs %>
<div class="main home-page">
    <% include ../partials/welcomeBanner.ejs %>
    <% include ../partials/triangleSeparator.ejs %>
    <% include ../partials/whyCosudeStory.ejs %>
    <% include ../partials/whyProject.ejs %>
</div>
<% include ../partials/staticDOMBottom.ejs %>
