<% include ../partials/staticDOMTop.ejs %>
<div class="main">
    <!--<h1>Welcome to <%= title %></h1>-->
    <div class="banner">
    <div class="banner-internal"><span class="banner-internal-bold">CO</span>NSCIOUS</div>
    <div class="banner-internal"><span class="banner-internal-bold">SU</span>PPLY &</div>
    <div class="banner-internal"><span class="banner-internal-bold">DE</span>MAND</div>
    </div>
</div>
<% include ../partials/staticDOMBottom.ejs %>
