<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>
<header>
    <% include ../partials/header %>
</header>
<div class="main">
    <h1>questionnaire</h1>

    <iframe class="googleForm"
            src="https://docs.google.com/forms/d/1JaTPSo32obnxqFfHtnih5BC6HfDvP6hhTnkhiGcFFFw/viewform?embedded=true"
            frameborder="0">Loading...
    </iframe>
</div>
</body>
</html>
