<% include ../partials/staticDOMTop.ejs %>
<div class="main questionnaire-page">
    <!--<div>to solve tough problems you need to know what the problem is...descdesc</div>-->

    <!--<h1>questionnaire</h1>-->
    <div class="google-form-container">
        <iframe class="google-form" frameborder="0" src=<%= questionnaireSource %>></iframe>
    </div>
</div>
<% include ../partials/staticDOMBottom.ejs %>