<% include ../partials/staticDOMTop.ejs %>
<div class="main questionnaire-page">
    <iframe class="google-form" frameborder="0" src=<%= questionnaireSource %>></iframe>
</div>
<% include ../partials/staticDOMBottom.ejs %>