<% include ../partials/staticDOMTop.ejs %>
<div class="main resources-page">
    <div class="resources-container">
        <div class="row">
            <div class="col-sm-6 col-md-4 resource-container">
                <div class="thumbnail">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/VdLf4fihP78" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="caption">
                        <h3>John Oliver on Fast Fashion</h3>
                        <p>Duration: 17:09 </p>
                        <p>Some default panel content here. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        <p><a href="http://www.amazon.co.uk/dp/1118277554" class="btn btn-primary" role="button">button</a></p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="560" height="315" src="//www.aftenposten.no/webtv/embed/?id=21032" frameborder="0" allowfullscreen="true"></iframe>
                    </div>
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p>...</p>
                        <p>Some default panel content here. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        <p><a href="http://www.amazon.co.uk/dp/1118277554" class="btn btn-primary" role="button">button</a></p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/OaGp5_Sfbss" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="caption">
                        <h3>'The True Cost' - Official Trailer</h3>
                        <p>Some default panel content here. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        <p><a href="http://www.amazon.co.uk/dp/1118277554" class="btn btn-primary" role="button">button</a></p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a target="_blank" href="http://www.theguardian.com/world/ng-interactive/2014/apr/bangladesh-shirt-on-your-back">
                        <img src="../images/resources-screencaps/guardian-resource.jpg">
                    </a>
                    <div class="caption">
                        <h3>The shirt on your back: the human cost of the Bangladeshi garment industry</h3>
                        <p>How did the clothes you're wearing get to you? Guardian journalists trace the lifecycle of the shirt on your back via the teeming workshops of Dhaka, where labour is cheap, factories are cheaper and just going to work can be fatal </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/yCQa-2z80Vc" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="caption">
                        <h3>Where Am I Wearing</h3>

                        <p>Some default panel content here. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        <p><a href="http://www.amazon.co.uk/dp/1118277554" class="btn btn-primary" role="button">check it out at amazon</a></p>
                    </div>
                </div>
            </div>


            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a target="_blank" href="http://amzn.com/1591846544">
                        <img src="../images/resources-screencaps/overdressed-resource.jpg">
                    </a>

                    <div class="caption">
                        <h3>Overdressed: The Shockingly High Cost of Cheap Fashion</h3>
                        <p>Some default panel content here. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        <p><a href="http://www.amazon.co.uk/dp/1118277554" class="btn btn-primary" role="button">check it out at amazon</a></p>

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<% include ../partials/staticDOMBottom.ejs %>