<% include ../partials/staticDOMTop.ejs %>
<div class="main resources-page">
    <div class="resources-container">
            <div class="col-sm-6 col-md-6 ">
                <div class="thumbnail">
                    <div class="image-thumbnail">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe src="https://www.youtube.com/embed/VdLf4fihP78" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="caption">
                        <div class="caption-title">John Oliver on Fast Fashion</div>
                        <div class="caption-description">
                            John Oliver dives deep into the fast fashion industry, combining comedy and hard-hitting facts to bring viewers directly to the heart of the issue.
                        </div>
                        <div class="caption-link"><a target="_blank" href="https://www.youtube.com/watch?v=VdLf4fihP78">View on YouTube</a></div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-6">
                <div class="thumbnail">
                    <div class="image-thumbnail">
                        <div class="embed-responsive embed-responsive-16by9">
                          <iframe src="//www.aftenposten.no/webtv/embed/?id=21032" frameborder="0" allowfullscreen="true"></iframe>
                      </div>
                    </div>
                    <div class="caption">
                        <div class="caption-title">Sweat Shop Documentary</div>
                        <div class="caption-description">
                            This is part 1 of a 5 part documentary following 3 Norwegians into Cambodia where they experience first hand the life of a fast fashion labourer.
                        </div>
                        <div class="caption-link"><a target="_blank" href="http://www.aftenposten.no/webtv/#!/video/21032/sweatshop-ep-1-how-many-will-die-here-every-year">View all at aftenposten.no </a></div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="image-thumbnail">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe src="https://www.youtube.com/embed/OaGp5_Sfbss" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="caption">
                        <div class="caption-title">The True Cost - Official Documentary Trailer</div>
                        <div class="caption-description">
                            This eye-opening documentary walks viewers through the entire process a piece of clothing goes through before it lands onto boutique store shelves.
                        </div>
                        <div class="caption-link"><a target="_blank" href="http://truecostmovie.com/">Go to official website</a></div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="image-thumbnail">
                        <a target="_blank" href="http://www.theguardian.com/world/ng-interactive/2014/apr/bangladesh-shirt-on-your-back">
                            <img src="../images/resources-screencaps/guardian-resource.jpg">
                        </a>
                    </div>
                    <div class="caption">
                        <div class="caption-title">The human cost of the Bangladeshi garment industry</div>
                        <div class="caption-description">
                            Guardian journalists trace the lifecycle of the shirt on your back via the teeming workshops of Dhaka, where labour is cheap, factories are cheaper and just going to work can be fatal.
                        </div>
                        <div class="caption-link"><a target="_blank" href="http://www.amazon.co.uk/dp/1118277554">View article at Guardian's website</a></div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="image-thumbnail">
                        <a target="_blank" href="http://amzn.com/1591846544">
                            <img src="../images/resources-screencaps/overdressed-resource.jpg">
                        </a>
                    </div>
                    <div class="caption">
                        <div class="caption-title">Overdressed: The Shockingly High Cost of Cheap Fashion</div>
                        <div class="caption-description">
                            An insightful book highlighting the history, cost, and effect that fast fashion pieces have on both those who made it and those who wear it.
                        </div>
                        <div class="caption-link"><a target="_blank" href="http://www.amazon.co.uk/dp/1118277554">Check it out at Amazon</a></div>
                    </div>
                </div>
            </div>


            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="image-thumbnail">
                        <div class="embed-responsive embed-responsive-16by9 ">
                            <iframe src="https://www.youtube.com/embed/yCQa-2z80Vc" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="caption">
                        <div class="caption-title">Where Am I Wearing</div>
                        <div class="caption-description">
                            Follow the author as he travels around the world to meet the people that made his clothes.
                        </div>
                        <div class="caption-link"><a target="_blank" href="http://www.amazon.co.uk/dp/1118277554">Check it out at Amazon</a></div>
                    </div>
                </div>
            </div>

        </div>

    </div>
<% include ../partials/staticDOMBottom.ejs %>