<% include ../partials/staticDOMTop.ejs %>
<div class="main resources-page">
    <div class="resources-container">
        <div class="row">
            <div class="col-sm-6 col-md-6 ">
                <div class="resource-type">Video</div>
                <div class="thumbnail">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe src="https://www.youtube.com/embed/VdLf4fihP78" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="caption">
                        <h3>John Oliver on Fast Fashion (17:09min)</h3>
                        <p class="caption-description">John Oliver dives deep into the fast fashion industry, combining comedy and hard-hitting facts to bring viewers directly to the heart of the issue.  </p>
                        <p class="caption-button"><a target="_blank" href="https://www.youtube.com/watch?v=VdLf4fihP78" class="btn" role="button">View on YouTube</a></p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-6">
                <div class="resource-type">Video</div>
                <div class="thumbnail">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe src="//www.aftenposten.no/webtv/embed/?id=21032" frameborder="0" allowfullscreen="true"></iframe>
                    </div>
                    <div class="caption">
                        <h3>Sweat Shop 5 part video (~10:00min/ep)</h3>
                        <p class="caption-description">This is the first of a 5 part documentary following 3 Norwegians into Cambodia where they experience for themselves first day the life of a fast fashion labourer. </p>
                        <p class="caption-button"><a target="_blank" href="http://www.aftenposten.no/webtv/#!/video/21032/sweatshop-ep-1-how-many-will-die-here-every-year" class="btn" role="button">View all at aftenposten.no </a></p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="resource-type">Movie Trailer</div>
                <div class="thumbnail">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe src="https://www.youtube.com/embed/OaGp5_Sfbss" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="caption">
                        <h3>'The True Cost' - Official Trailer</h3>
                        <p class="caption-description">This eye-opening documentary walks viewers through the entire process a piece of clothing goes through before it lands onto boutique store shelves. </p>
                        <p class="caption-button"><a target="_blank" href="http://truecostmovie.com/" class="btn" role="button">Go to official website</a></p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="resource-type">Interactive Article</div>
                <div class="thumbnail">
                    <div class="image-thumbnail">
                        <a target="_blank" href="http://www.theguardian.com/world/ng-interactive/2014/apr/bangladesh-shirt-on-your-back">
                            <img src="../images/resources-screencaps/guardian-resource.jpg">
                        </a>
                    </div>
                    <div class="caption">
                        <h3>The shirt on your back: the human cost of the Bangladeshi garment industry</h3>
                        <p class="caption-description">How did the clothes you're wearing get to you? Guardian journalists trace the lifecycle of the shirt on your back via the teeming workshops of Dhaka, where labour is cheap, factories are cheaper and just going to work can be fatal </p>
                        <p class="caption-button"><a target="_blank" href="http://www.amazon.co.uk/dp/1118277554" class="btn" role="button">View article at Guardian's website</a></p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="resource-type">Book</div>
                <div class="thumbnail">
                    <div class="image-thumbnail">
                        <a target="_blank" href="http://amzn.com/1591846544">
                            <img src="../images/resources-screencaps/overdressed-resource.jpg">
                        </a>
                    </div>
                    <div class="caption">
                        <h3>Overdressed: The Shockingly High Cost of Cheap Fashion</h3>
                        <p class="caption-description">An insightful book highlighting the history, cost, and effect that fast fashion pieces have on both those who made it and those who wear it.</p>
                        <p class="caption-button"><a target="_blank" href="http://www.amazon.co.uk/dp/1118277554" class="btn" role="button">Check it out at Amazon</a></p>
                    </div>
                </div>
            </div>


            <div class="col-sm-6 col-md-4">
                <div class="resource-type">Book</div>
                <div class="thumbnail">
                    <div class="image-thumbnail">
                        <div class="embed-responsive embed-responsive-16by9 ">
                            <iframe src="https://www.youtube.com/embed/yCQa-2z80Vc" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="caption">
                        <h3>Where Am I Wearing</h3>

                        <p class="caption-description">Follow the author as he travels around the world to meet the people that made his clothes.</p>
                        <p class="caption-button"><a target="_blank" href="http://www.amazon.co.uk/dp/1118277554" class="btn" role="button">Check it out at Amazon</a></p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<% include ../partials/staticDOMBottom.ejs %>