<% include ../partials/staticDOMTop.ejs %>
<div class="main">
    <div class="why-page-header">
        <div class="banner">
            <h1 class="why-page-header-title">why this project</h1>
        </div>
    </div>

</div>
<% include ../partials/staticDOMBottom.ejs %>

