<% include ../partials/staticDOMTop.ejs %>
<div class="main">
    <div class="why-page-header">
        <div class="banner">
            <h1 class="why-page-header-title">why this project</h1>
        </div>
    </div>

    <div>
        <h2>We often don't think about the people who make our clothes</h2>
        <p>
            When we see a £5 shirt, our first response is usually - 'this is so cheap, I need to buy it',
            Rather than wondering if it is so cheap - how much are the people making it actually earning?
            (Answer less than 0.01% of that).
        </p>
    </div>

    <div>
        <h2>Our beautiful clothes are made by terribly treated labourers</h2>
        <p>
            6 to 7 days a week, 10 hours a day, earning less than $3USD a day, many have to see their furniture in order to see the doctor.
            Fast fashion companies justify it by saying this teaches skills - but that is if they get to make an entire article of clothing.
            its hard to learn anything if you're sewing the exact same seam the on thousands of the same clothing.
        </p>
    </div>

    <div>
        <h2>Thousands have died for your £5 shirt</h2>
        <p>
            What happens if you need more clothes for cheaper? You build more factories and squeeze the margins from them.
            Structurally unsafe buildings were made to fulfill this orders quickly. Workers were made to enter (declared) structurally unsafe buildings to fulfil orders.
            Hundreds upon thousands have died in building fires and collapses again and again.
            Daughters, Mothers, Fathers, and Sons have died to make these cheap clothes.
        </p>
    </div>


    <div>
        <h2>The good news: Companies listen to consumers</h2>
        <p>
            We fight so hard in the first world to have minimum wage - why shouldn't people in the developing world have the same?
            Yet when they fight for equal wages they get beaten up for fear of upsetting the status quo.
            We can do something, we can help make sure that the people that make our clothes get dignified wages.
            Our clothes can be beautiful inside and out.
        </p>
    </div>
</div>
<% include ../partials/staticDOMBottom.ejs %>

